*.o
*.d
arm-i386
tags
*cscope*
*.swp
*.obj
*temp*
*.log
.svn
arm-linux-user/
config-host.ld
libdis-user/
libdis/
*.pyc
config-all-devices.mak
config-host.h
qemu-options.def
qmp-commands.h
qapi-types.h
qapi-visit.h
